node_modules/
.env
cache/
artifacts/
coverage*
typechain/
crytic-export/
*.code-workspace
dist/
coverage/
.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

/.dapp
